@model IEnumerable<DataModel.ProductViewModels.ProductListModel>
@{
    ViewBag.Title = "FavoriteProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    @{
                        var brandList = ViewBag.Brand as List<DataModel.BrandViewModels.BrandListModel>;

                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var productWithBrand = brandList.Where(x => x.Id == item.BrandId).SingleOrDefault();

                                <div class="col-lg-3 col-md-6">
                                    <div class="product__item">
                                        @if (item.Images.Any())
                                        {
                                            <div id="carousel-@item.Id" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    @foreach (var image in item.Images)
                                                    {
                                                        <div class="carousel-item @((image == item.Images.First()) ? "active" : "")">
                                                            <img class="d-block w-100 image-popup" src="~/Content/images/@image.ImageUrl" alt="@item.Name">
                                                            <ul class="product__hover">
                                                                <li><a href="~/Content/images/@image.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                                                                <li><a href="#" class="cart-btn" data-id="@item.Id"><span class="icon_bag_alt"></span></a></li>
                                                                <li><a href="#" class="close-btn" data-id="@item.Id"><span class="icon_close"></span></a></li>
                                                            </ul>
                                                        </div>
                                                    }
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-@item.Id" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-@item.Id" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        }
                                        <div class="product__item__text">
                                            @if (productWithBrand != null)
                                            {
                                                <h6>
                                                    <span class="font-weight-bold" style="margin-right:5px;">@productWithBrand.Name</span>
                                                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.Id })">@item.Name</a>
                                                </h6>
                                            }
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product__price">@item.SalePrice.ToString("C")</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

